.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    /* to appear behind the buttons */
    z-index: 3;
    /* black overlay with oppacity 0.3 */
    background-color: rgba(0, 0, 0, 0.3);
}

.slides-navigation a.prev,
.slides-navigation a.next {
    width: 47px;
    height: 47px;
    background-size: cover;
    /* Don't repeat the image if it runs out of space */
    background-repeat: no-repeat; 
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../img/icons/previousButton.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../img/icons/nextButton.png);
}

